body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

button{
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    width: 150px;
    padding: 8px;
}

/* header */
.header{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 128px;
    background-color: #1F2937;
}

.header a{
    font-size: 18px;
    color: #E5E7EB;
}

.header a:first-child{
    flex:1;
    font-size: 24px;
    color: #F9FAF8;
}

/* hero */
.hero{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 128px;
    background-color: #1F2937;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article p:first-child{
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}

.article p:nth-child(2){
    font-size: 18px;
    color: #E5E7EB;
}

/* gallery */
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 128px;
}

.title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content{
    display: flex;
    gap: 64px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img{
    width: 120px;
    height: 120px;
    border: 2px #3882F6 solid;
    border-radius: 10px;
}

.info p{
    width: 120px;
}

/* quotation */
.quotation{
    background-color: #E5E7EB;
    padding: 128px;
    display: flex;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    margin-left: auto;
    font-size: 24px;
    font-weight: 800;
}